{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container d-flex justify-content-center">
        <div class="card registercard">
            <div class="card-body">
                <h1 class="card-title logTitle p-5">M'inscrire</h1>
                <h2 class="card-subtitle logSubtitle pb-5"> Inscris-toi pour accéder à la plateforme de réservation.</h2>
                <div class="row">
                    <div class="col-md-1">
                    
                    </div>
                    <div class="col-md-10">
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.lastname, {attr: {class: 'form-control', placeholder: 'NOM'}})}}
                                {{ form_errors(registrationForm.lastname)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.firstname, {attr: {class: 'form-control', placeholder: 'Prénom'}})}}
                                {{ form_errors(registrationForm.firstname)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.pseudo, {attr: {class: 'form-control', placeholder: 'Pseudo'}})}}
                                {{ form_errors(registrationForm.pseudo)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.email, {attr: {class: 'form-control', placeholder: 'Adresse mail'}})}}
                                {{ form_errors(registrationForm.email)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.address, {attr: {class: 'form-control', placeholder: 'N° et rue'}})}}
                                {{ form_errors(registrationForm.address)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.zipcode, {attr: {class: 'form-control', placeholder: 'Code postale'}})}}
                                {{ form_errors(registrationForm.zipcode)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.city, {attr: {class: 'form-control', placeholder: 'Ville'}})}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.country, {attr: {class: 'form-control', placeholder: 'Pays'}})}}
                                {{ form_errors(registrationForm.country)}}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_widget(registrationForm.avatar, {label: 'Avatar', attr: {class: 'form-control', type: 'file', mapped: 'false'}})}}
                            </div>
                            <div class="col-md-12 mb-4">
                                {{ form_widget(registrationForm.plainPassword, {label: 'Mot de passe', attr: {class: 'form-control', placeholder: 'Mot de passe'}})}}
                                {{ form_errors(registrationForm.plainPassword)}}
                            </div>
                            <div class="col-md-12 mb-5">
                                {{ form_widget(registrationForm.agreeTerms, {attr: {class: 'form-check-label'}})}} <label class="registerLink" for="form-check-label">J'accepte les <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal2">conditions générales d'utilisation</a></label>
                            </div>
                            <div class="col-md-12 mb-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-lg registerbtn">Inscription</button>
                            </div>
                        {{ form_end(registrationForm) }}
                            <div class="row pt-5">
                                <div class="col-md-1"></div>
                                <div class="col-md-5"></div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <p class="registerText pt-2">Déjà inscrit ?</p>&emsp;<a href="{{path('app_login')}}" class="registerLink"><button class="btn btn-md registerbtn" type="submit">Me connecter</button></a>
                                </div>
                                
                            </div>         
                    </div>
                    <div class="col-md-1">
                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
   <!-- Modal confidentialité -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-center" id="exampleModalLabel">Politique de confidentialité</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Vous êtes seul responsable des données que vous communiquez sur le site globetrek.com et à la société GLOBETREK. Vous déclarez que les données fournies à l'occasion de votre inscription sont parfaitement renseignées et exactes.
                Conformément à l'article 34 de la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous êtes informé de ce que les informations nominatives signalées comme étant obligatoires sur les formulaires et recueillies dans le cadre du site www.globetrek.com sont nécessaires pour l'utilisation de celui-ci. Ces informations sont destinées exclusivement à GLOBETREK et à ses partenaires contractuels pour les besoins de l'exécution des présentes Conditions générales.
                GLOBETREK pourra notamment vous faire parvenir de façon régulière, des messages électroniques d'informations générales sur son activité et le voyage en général, ainsi que des messages personnalisés, en fonction des informations que vous aurez saisies sur son site. Vous disposez des droits d'opposition (art. 26 de la loi), d'accès (art. 34 à 38 de la loi) et de rectification (art. 36 de la loi) des données vous concernant.
                 Ainsi, vous pouvez exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations vous concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite. Vous bénéficiez d'un droit d'accès, de rectification que vous pouvez exercer directement sur le site.
                En transmettant vos témoignages et vos photos sur le site globetrek.com ou par e-mail à GLOBETREK, et en acceptant leur publication sur www.globetrek.com, vous acceptez également que ce contenu soit réutilisé sur l’ensemble des supports de communication GLOBETREK. GLOBETREK est susceptible de publier votre avis, votre photo de profil, votre prénom et première lettre du nom d’utilisateur sur les pages d’offres de voyage de www.globetrek.com.
                En vous inscrivant sur le site globetrek.com, vous acceptez que les informations de votre profil soient affichées sur une page "membre" qui peut être vue par tout le monde, même par les personnes qui n’ont pas de compte. Votre profil pourra être mis en avant de différentes manières en fonction des actions que vous effectuerez sur le site (visiter des pages voyage plusieurs fois, vous déclarer intéressé par un voyage, acheter un voyage, etc.).
              </p>
              <h5>Confidentialité des données</h5>
              <p>La base de données personnelles constituée à l’occasion de l’inscription aux services Les Aventureurs est confidentielle.

                GLOBETREK garantit par ailleurs la confidentialité des données personnelles collectées (noms, adresses e-mails et mots de passe) lors de l’inscription à ses services. Conformément à la loi Informatique et Libertés du 6 janvier 1978, tout utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression de ses données.

                GLOBETREK ne peut garantir ni la confidentialité ni l’effacement des données personnelles postées volontairement par l’utilisateur dans ses messages privés.

                GLOBETREK ne saurait être tenu responsable du « spam » subi par les utilisateurs qui auraient décidé volontairement et spontanément de publier en ligne leur adresse email.

                Dans le cas d’une réservation sur le site www.lesaventureurs.com GLOBETREK se réserve le droit de communiquer les données personnelles de l’utilisateur aux autres participant(e)s au voyage.

                Conformément aux dispositions de la loi dans la Confiance dans l’économie numérique du 21 juin 2004, les données de nature à permettre l'identification des internautes (et notamment les adresses IP) ayant contribué à la création de contenus sur le site internet globetrek.com sont détenues et conservées par GLOBETREK.
                Si vous souhaitez faire la demande de suppression de vos données personnelles, adressez vous à : <a href="mailto:globetrek.voyage@gmail.com">globetrek.voyage@gmail.com</a>
                </p>
            </div>
            
          </div>
        </div>
      </div>
    <!-- Modal confidentialité -->

    
{% endblock %}
