{% extends 'base.html.twig' %}

{% block title %}Voyages en {{categories.name}}{% endblock %}

{% block body %}

<main>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5"><h1 class="catTitle">Destinations d'<strong id="stronger">{{categories.name}}</strong></h1></div>
                <div class="col-md-12">
                    <a class="showLink" href="{{path('app_main')}}"><i class="fa-solid fa-arrow-left"></i> Retour à l'accueil</a>
                </div>
                <div class="col-md-12 cont2">
                    <div class="row cont">
                        {% for post in posts %}
                            <div class="col-md-4">
                                <div class="card rubrik">
                                    <img class="card-img-top" src="{{asset('divers/images/' ~ post.image1)}}" alt="image du voyage">
                                    <div class="card-body body">
                                        <h5 class="card-title travelTitle" style="font-size: 1.5em">{{post.title}}</h5>
                                        <p class="card-text  subtitle2">{{post.subtitle}}</p>
                                    </div>
                                    <div class="col-md-12 pb-4"><a href="{{path('show', {id:post.id, slug: post.slug})}}" class="btn btn-md catBtn">Détails</a></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}